Model Selection 
Evaluation of GridSearch CV Results

In [0]:
import pandas as pd
import numpy as np

In [0]:
data1  = pd.read_csv("grid1.csv", sep=";")
data2  = pd.read_csv("grid2.csv", sep=";")
data3  = pd.read_csv("grid3.csv", sep=";")
data4  = pd.read_csv("grid4.csv", sep=";")
data5  = pd.read_csv("grid5.csv", sep=";")

In [0]:
data_combine = pd.concat([data1, data2, data3, data4, data5])

In [4]:
data_combine

    Unnamed: 0  momentum  ...  epoch_stopped3  reg_penalty
0            0       0.7  ...            50.0       0.0100
1            1       0.6  ...            50.0       0.0100
2            2       0.7  ...           100.0       0.0100
3            3       0.6  ...           100.0       0.0100
4            4       0.7  ...           150.0       0.0100
..         ...       ...  ...             ...          ...
6            6       0.7  ...            50.0       0.0001
7            7       0.6  ...            50.0       0.0001
8            8       0.7  ...           100.0       0.0001
9            9       0.6  ...           100.0       0.0001
10          10       0.7  ...           150.0       0.0001

[105 rows x 14 columns]

In [0]:
data_combine["loss_mean"] = (data_combine["loss1"]+data_combine["loss2"]+data_combine["loss3"])/3

In [0]:
data_combine['epoch'] = data_combine['epoch_stopped1']
data_combine['weight_decay'] = data_combine['reg_penalty']

In [0]:
data_combine["acc_mean"] = (data_combine["acc1"]+data_combine["acc2"]+data_combine["acc3"])/3

In [0]:
column_list = ["momentum", "learning rate", "epoch","batch size","weight_decay","loss_mean", "acc_mean"]

In [11]:
data_combine.sort_values(axis=0, by="loss_mean", ascending=True)[column_list].head(3)

    momentum  learning rate  epoch  ...  weight_decay  loss_mean  acc_mean
13       0.6           0.10   50.0  ...        0.0001   0.922544  0.736353
2        0.6           0.01  100.0  ...        0.0001   0.923988  0.742160
1        0.7           0.01  100.0  ...        0.0001   0.956880  0.736353

[3 rows x 7 columns]